@font-face {
  font-family: Nunito;
  src: url('./Nunito-Regular.ttf');
}

@font-face {
  font-family: Anton;
  src: url('./Anton-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

html,
body,
#app {
  height: 100%;
  font-family: Nunito, sans-serif;
  color: white;
}

h2 {
  font-family: Nunito;
}

h1 {
  font-family: Anton, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dc3545;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #212529;
  border-radius: 10px;
  background-color: #212529;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}

.mainBg {
  background: rgb(18, 18, 18);
}

.mh {
  min-height: 100vh;
}

.list253 {
  width: round(down, 100%, 253px);
  justify-self: center;
}

.list286 {
  width: calc(-16px + round(down, 100%, 286px));
}

/*
.navlist {

  width: calc(-16px + round(down, 100%, 186px));
}
*/

.object-fit-cover {
  object-fit: cover;
}

.list136 {
  width: round(down, 100%, 136px);
}

.list128 {
  width: round(down, 100%, 128px);
}

.list253 {
  width: round(down, 100%, 253px);
  justify-self: center;
}

.mh100 {
  min-height: 100vh;
}
