$height: (40, 250, 400, 832);

@mixin height($height) {
  @each $h in $height {
    .h#{$h} {
      height: $h + px !important;
    }
  }
}

@include height($height);

$width: (40, 90, 120, 170, 253, 270, 300, 400);

@mixin width($width) {
  @each $w in $width {
    .w#{$w} {
      width: $w + px !important;
    }
  }
}

@include width($width);

$list: (128px, 136px, 253px, 286px);

@mixin list($list) {
  @each $list in $list {
    .list#{$list} {
      width: round(down, 100%, $list);
      justify-self: center;
    }
  }
}

@include list($list);
