@use 'sass:map';

@font-face {
  font-family: AROne;
  src: url('./../AROne.ttf');
}

//background: linear-gradient(45deg, #13547a, #80d0c7);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: AROnek, sans-serif;
}

body {
  background-color: #171620;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#app {
  height: 100%;

  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: map.get($colors, 'red');
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #212529;
  border-radius: 10px;
  background-color: #212529;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}
