$colors: (
  'blue': #99c8ff,
  'red': #ff6d7f,
  'primary': #cbd0d4,
  'dark': #171620,
  'secondary': #8a8f93
);

$sizes: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 3rem
);

$breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

@import 'defaultStyles';
@import 'classes';
@import 'classGeneration';
